html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.timer {
  position: relative;
  display: inline-block;
}
.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.controls button {
  border: 5px solid #8e8e8e;
  font-size: 40px;
  cursor: pointer;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 10px;
}
.controls input {
  display: block;
  border: none;
  font-size: 100px;
  text-align: center;
  width: 300px;
}
.controls input:focus,
.controls button:focus {
  outline: none;
}
